name: tests

on:
  pull_request:
  push:
    branches: [main]

jobs:
  main:
    strategy:
      matrix:
        python-version: ['3.7','3.8', '3.9']
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: install tox
      run: python -m pip install --upgrade tox virtualenv setuptools pip
    - name: run tox, upload to codecov
      run: tox -e py
